@import "normalize.css/normalize.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.no-select {
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes BottomToTop {
  from {
    transform: translateY(80px);
  }
  to {
    transform: translateY(0);
  }
}
